#warningIcon {
  list-style-image: url("chrome://global/skin/icons/notfound.png");
  margin: 5px 3px 0px 5px;
}

#downloading {
  margin: 10px 0px;
}

#channelDescription {
  margin: 10px 0px;
}

#changechanneldesc {
  margin: 10px 0px;
}
